@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  }
  html {
    font-family: var(--font-sans);
  }
  body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }
}
